@charset "utf-8";

body {
  margin:0px;
	color: #4B4B4B;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	background: #EFF5F8;
}

#wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

main, aside {
	margin-right: 4%;
	margin-left: 4%;
}

footer {
  font-size: 75%;
  text-align: center;
  color: #94a4aa;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  font-size:250%;
}

#bridge img {
  width: 100%;
}

h1, h2{
  color: #FB5B1F;
}
