@charset "utf-8";
body {
	color: #4B4B4B;
	font-family: source-code-pro;
	font-style: normal;
	font-weight: 400;
	background: #EFF5F8;
}
#wrapper {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
}