@charset "utf-8";

body {
  margin:0px;
	color: #4B4B4B;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	background: #EFF5F8;
}

#wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

main, aside {
	margin-right: 4%;
	margin-left: 4%;
}

footer {
  font-size: 75%;
  text-align: center;
  color: #94a4aa;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  font-size:250%;
}

#bridge img {
  width: 100%;
}

h1, h2{
  color: #FB5B1F;
}

.floatbox{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  position: absolute;
  top: 300px;
  right: 30px;
  color: white;
  border: 2px dotted #ffffff;
}

li {
  display: inline;
  
}

a {
  border: 1px outset #fefefe;
  display: inline;
  left:20%;
  font-weight: bold;
  text-decoration: underline;

}

a:link{
  color: #f68979;
}

a:hover{
  border: 1px inset #fefefe;
  text-decoration: underline;
}